[phases.setup]
nixPkgs = ['nodejs-18_x']

[phases.install]
cmds = ['npm ci']

[phases.build]
cmds = ['mkdir -p /app/storage']

[start]
cmd = 'mkdir -p /app/storage && node ./bin/db init --dbname $DATA_BASE --dbhost $RDS_HOST --dbuser $RDS_USERNAME --dbpassword $RDS_PASSWORD --dbport $RDS_PORT --force || true && npm run start'

[variables]
STORAGE_DIR = '/app/storage'
LOCAL_DOWNLOAD_URL = 'https://${{RAILWAY_PUBLIC_DOMAIN}}/download'
