[phases.setup]
nixPkgs = ['nodejs-18_x']

[phases.install]
cmds = ['npm ci']

[phases.build]
cmds = ['mkdir -p /app/storage']

[start]
cmd = 'bash start.sh'

[variables]
STORAGE_DIR = '/app/storage'
LOCAL_DOWNLOAD_URL = 'https://${{RAILWAY_PUBLIC_DOMAIN}}/download'
